<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Registros</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table align-items-center table-flush row-border hover">
                        <thead class="thead-light">
                            <tr class="form-group">
                                <th><input type="text" class="form-control" placeholder="Buscar ID" id="0" name="buscar-id" /></th>
                                <th><input type="text" class="form-control" placeholder="Buscar Estación" id="1" name="buscar-estacion" /></th>
                                <th><input type="text" class="form-control" placeholder="Buscar Variable" id="2" name="buscar-variable" /></th>
                                <th class="observador"><input type="text" class="form-control" placeholder="Buscar Observador" id="3" name="buscar-observador" /></th>
                                <th><input type="text" class="form-control" placeholder="Buscar Valor" id="4" name="buscar-valor" /></th>
                                <th><input type="text" class="form-control"  placeholder="Buscar Hora" name="buscar-hora" id="5"/></th>
                                <th><input type="text" class="form-control"  placeholder="Buscar Fecha" name="buscar-fecha" id="6"/></th>
                            </tr>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Estacion</th>
                                <th scope="col">Variable</th>
                                <th scope="col" class="observador">Observador</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let registro of registros">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{ registro.id}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{registro.VariableEstacion.EstacionCodigo}}
                                </td>
                                <td>
                                    {{registro.VariableEstacion.Variable.nombre}}
                                </td>
                                <td class="observador">
                                    {{registro.Observador.User.nombre + " " + registro.Observador.User.apellido}}
                                </td>
                                <td>
                                    {{registro.valor}}
                                </td>
                                <td>
                                    {{time(registro.fechaObservacion)}}
                                </td>
                                <td>
                                    {{date(registro.fechaObservacion)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>