<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <p>Header</p>
        </div>
    </div>
</div>
<div class="container-fluid mt-8">
    <div class="col-1">
        <button [routerLink]="['/form-usuarios']">Nuevo</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Lista de Usuarios</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Nicole Alvarez</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    0987654321
                                </td>
                                <td>
                                    agalvare@espol.edu.ec
                                </td>
                                <td>
                                    54321
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Michael Arce</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    0987654321
                                </td>
                                <td>
                                    miarce@espol.edu.ec
                                </td>
                                <td>
                                    12345
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>