<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container mt--9" id="estaciones-table">
    <div class="row justify-content-around">
        <div class="card shadow col-8">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h3 class="mb-0">Seleccionar Estacion para la seleccion de variables</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1"
                    class="table align-items-center table-flush row-border hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Codigo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estacion of estaciones" (click)="selectEstacion(estacion)">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{estacion.nombreEstacion}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{estacion.codigo}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container mt--9" style="display: none;" id="variables-table">
    <div class="row justify-content-around">
        <div class="row col-12" id="nombre-estacion">
            <h2 class="text-white col-3 mt-1 mb-2">{{selectedEstacion.nombreEstacion}}</h2>
            <div>
                <a class="btn btn-icon-only text-light" (click)="unselectEstacion()">
                    <i class="fa fa-times-circle text-white"></i>
                </a>
            </div>
        </div>
        <div class="card shadow col-5">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h3 class="mb-0">Asignar Variables a Estacion</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2"
                    class="table align-items-center table-flush row-border hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let variable of variables" (click)="openModal(contenido,variable)">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{ variable.nombre}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{variable.unidad}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card shadow col-6">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h3 class="mb-0">Lista de Variables</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <table class="table align-items-center table-flush row-border hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Horario</th>
                            <th scope="col">Instrumento</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vari of selectedVariables; let index = index;">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{ vari.nombre}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{vari.hora}}
                            </td>
                            <td>
                                {{vari.InstrumentoCodigo}}
                            </td>
                            <td class="text-center">
                                <div>
                                    <a class="btn btn-icon-only text-light" (click)="unselectVariable(vari)">
                                        <i class="fa fa-times-circle text-red"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class=" m-3 justify-content-around">
        <button class="btn btn-secondary float-left">Cancelar</button>
        <button class="btn btn-default float-right" (click)="asignarVariables()">Guardar</button>
    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Seleccionar parametros para la variable {{variableHora.nombre}}</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label for="codigo">Horario</label><br>
        <select name="horario" id="horario" class="form-control" [(ngModel)]="selectedHorario"
            (ngModelChange)="selectHorario(selectedHorario)">
            <option *ngFor="let horario of horarios" [value]="horario.id">{{horario.hora}}</option>
        </select>
        <label for="instrumento">Instrumento</label><br>
        <select name="instrumento" id="instrumento" class="form-control" [(ngModel)]="selectedInstrumento"
            (ngModelChange)="selectInstrumento(selectedInstrumento)">
            <option *ngFor="let instrumento of instrumentos" [value]="instrumento.codigo">{{instrumento.nombre + " " + instrumento.codigo}}
            </option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="saveVariableHora();modal.close()">Save</button>
    </div>
</ng-template>