<div class="header pb-8 pt-5 pt-md-8" style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Nuevo Usuario</h3>
                </div>
                <div class="card-body">
                    <form #formUsuario="ngForm" (ngSubmit)="onSubmit(formUsuario)">
                        <div class="form-group">
                            <label for="nombre">Nombre</label><br>
                            <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="usuario.nombre">
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label><br>
                            <input type="text" class="form-control" name="apellido" id="apellido" [(ngModel)]="usuario.apellido">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono</label><br>
                            <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)]="usuario.telefono">
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo</label><br>
                            <input type="email" class="form-control" name="correo" id="correo" [(ngModel)]="usuario.email">
                        </div>
                        <div class="form-group">
                            <label for="correo">Usuario</label><br>
                            <input type="email" class="form-control" name="correo" id="correo" [(ngModel)]="usuario.idUser">
                        </div>  
                        <div class="form-group">
                            <label for="contrasena">Contraseña</label><br>
                            <input type="text" class="form-control" name="contrasena" id="contrasena" [(ngModel)]="usuario.password">
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo de Usuario</label><br>
                            <select class="form-control form-select form-select-sm" name="tipo" id="tipo">
                                <option value="Observador">Observador</option>
                                <option value="Visualizador">Administrador</option>
                            </select>      
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="contrasena">Observador Jefe</label><br>
                                <input type="text" class="form-control" name="contrasena" id="contrasena" [(ngModel)]="usuario.idObsJefe">
                            </div>
                            <div class="container" id="table-container">
                                <div class="custom-control custom-radio mb-4">
                                    <input name="custom-radio-2" class="custom-control-input" id="customRadio5" type="radio">
                                    <label class="custom-control-label" for="customRadio5">Observador Principal</label>
                                </div>
                                <label for="estacion">Estacion</label><br>
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table align-items-center table-flush row-border hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Codigo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let estacion of estaciones" (click)="selectEstacion(estacion)">
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="mb-0 text-sm">{{estacion.nombreEstacion}}</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>
                                                {{estacion.codigoEstacion}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="display:'none'" id="estacion" class="form-group">
                                <input readonly  type="text" class="form-control d-inline col-11" name="estacion" value="{{selectedEstacion.nombreEstacion+' '+selectedEstacion.codigoEstacion}}">
                                <a (click)="unselectEstacion()" class="btn btn-icon-only form-control col-2 text-light">
                                    <i  class="fa fa-times-circle text-red"></i>
                                </a>
                            </div>
                        </div>
                        
                        <div>
                            <button class="btn btn-secondary float-left">Cancelar</button>
                            <button class="btn btn-default float-right">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


