<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <p>Header</p>
        </div>
    </div>
</div>
<div class="container-fluid mt-8">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Nuevo Usuario</h3>
                </div>
                <div class="card-body">
                    <div >
                        <label for="nombre">Nombre</label><br>
                        <input type="text" class="form-control" name="nombre" id="nombre">
                    </div>
                    <div >
                        <label for="apellido">Apellido</label><br>
                        <input type="text" class="form-control" name="apellido" id="apellido">
                    </div>
                    <div >
                        <label for="telefono">Telefono</label><br>
                        <input type="text" class="form-control" name="telefono" id="telefono">
                    </div>
                    <div >
                        <label for="correo">Correo</label><br>
                        <input type="email" class="form-control" name="correo" id="correo">
                    </div>
                    <div >
                        <label for="contrasena">Contraseña</label><br>
                        <input type="text" class="form-control" name="contrasena" id="contrasena">
                    </div>
                    <div >
                        <label for="tipo">Tipo de Usuario</label><br>
                        <select name="tipo" id="tipo">
                            <option value="Observador">Observador</option>
                            <option value="Visualizador">Visualizador</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
