<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="usuarios-table">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Lista de Usuarios</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1"
                        class="table align-items-center table-flush row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tel&eacute;fono</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Rol</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" (click)="selectUsuario(usuario)">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{usuario.nombre +" "+usuario.apellido}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{usuario.telefono}}
                                </td>
                                <td>
                                    {{usuario.email}}
                                </td>
                                <td>
                                    {{usuario.role}}
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="rol-form" style="display: none;">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Asignando rol a {{selectedUser.nombre + " " + selectedUser.apellido}}</h3>
                </div>
                <div class="card-body">
                    <form #formRol="ngForm" (ngSubmit)="onSubmit(formRol)">

                        <div class="form-group">
                            <label for="rol">Rol de Usuario</label><br>
                            <select class="form-control form-select form-select-sm" name="rol" id="rol">
                                <option value="observer">Observador</option>
                                <option value="admin">Administrador</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="container" id="table-container">
                                <label for="estacion">Estaci&oacute;n</label><br>
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2"
                                    class="table align-items-center table-flush row-border hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">C&oacute;digo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let estacion of estaciones" (click)="selectEstacion(estacion)">
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="mb-0 text-sm">{{estacion.nombreEstacion}}</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>
                                                {{estacion.codigo}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="display:'none'" id="text-estacion" class="form-group">
                                <input readonly type="text" class="form-control d-inline col-11" name="estacion"
                                    value="{{selectedEstacion.nombreEstacion+' '+selectedEstacion.codigo}}">
                                <a (click)="unselectEstacion()" class="btn btn-icon-only form-control col-2 text-light">
                                    <i class="fa fa-times-circle text-red"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-secondary float-left" (click)="cancelar()">Cancelar</button>
                            <button class="btn btn-default float-right">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>