<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="table">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Lista de Instrumentos</h3>
                        </div>
                        <div class="col-3 text-right text-default">
                            <a (click)="nuevoInstrumento()" class="btn btn-sm btn-default">Nuevo
                                Instrumento</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1"
                        class="table align-items-center table-flush row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estacion</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let instrumento of instrumentos">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{instrumento.codigo}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{instrumento.nombre}}
                                </td>
                                <td>
                                    {{instrumento.EstacionCodigo}}
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="editarInstrumento(instrumento)">Editar</a>
                                            <a class="dropdown-item"
                                                (click)="deleteInstrumento(instrumento)">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="form-instrumento" style="display: none;">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Nuevo Instrumento</h3>
                </div>
                <div class="card-body">
                    <form #formInstrumento="ngForm">
                        <div class="form-group">
                            <label for="codigo">C&oacute;digo</label><br>
                            <input type="text" class="form-control" name="codigo" id="codigo"
                                [(ngModel)]="selectedInstrumento.codigo">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label><br>
                            <select name="nombre" id="nombre" class="form-control" [(ngModel)]="selectedInstrumento.nombre">
                                <option *ngFor="let tipo of tipos" [value]="tipo.tipo">{{tipo.tipo}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Estaci&oacute;n</label><br>
                            <div class="container" id="table-estaciones">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2"
                                    class="table align-items-center table-flush row-border hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">C&oacute;digo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let estacion of estaciones" (click)="selectEstacion(estacion)">
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="mb-0 text-sm">{{estacion.nombreEstacion}}</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>
                                                {{estacion.EstacionCodigo}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="display:'none'" id="text-estacion" class="form-group">
                                <input readonly type="text" class="form-control d-inline col-11" name="estacion"
                                    [(ngModel)]="selectedInstrumento.EstacionCodigo">
                                <a (click)="unselectEstacion()" class="btn btn-icon-only form-control col-2 text-light">
                                    <i class="fa fa-times-circle text-red"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-secondary float-left"
                                (click)="cancelar(formInstrumento)">Cancelar</button>
                            <button class="btn btn-default float-right"
                                (click)="submit(formInstrumento)">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>