<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="table">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Lista de Variables</h3>
                        </div>
                        <div class="col-3 text-right text-default">
                            <a [routerLink]="['/form-variable']" class="btn btn-sm btn-default">Nueva Variable</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table align-items-center table-flush row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Unidad</th>
                                <th scope="col">Maximo</th>
                                <th scope="col">Minimo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let variable of variables">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{variable.nombre}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{variable.unidad}}
                                </td>
                                <td>
                                    {{variable.maximo}}
                                </td>
                                <td>
                                    {{variable.minimo}}
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="editarVariable(variable)">Editar</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="form-variable" style="display: none;">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Nueva Variable</h3>
                </div>
                <div class="card-body">
                    <form #formVariable="ngForm">
                        <div class="form-group">
                            <label for="nombre">Nombre</label><br>
                            <input type="text" class="form-control" name="nombre" id="nombre"
                                [(ngModel)]="variable.nombre">
                        </div>
                        <div class="form-group">
                            <label for="codigo">Unidad</label><br>
                            <input type="text" class="form-control" name="codigo" id="codigo"
                                [(ngModel)]="variable.unidad">
                        </div>
                        <div class="form-group">
                            <label for="maximo">Máximo</label><br>
                            <input type="text" class="form-control" name="maximo" id="maximo"
                                [(ngModel)]="variable.max">
                        </div>
                        <div class="form-group">
                            <label for="minimo">Minimo</label><br>
                            <input type="email" class="form-control" name="minimo" id="minimo "
                                [(ngModel)]="variable.min">
                        </div>
                        <div class="form-group">
                            <label for="tipoDato">Tipo de dato</label><br>
                            <input type="text" class="form-control" name="tipoDato" id="tipoDato"
                                [(ngModel)]="variable.tipoDato">
                        </div>
                        <div>
                            <button class="btn btn-secondary float-left" (click)="cancelar(formVariable)">Cancelar</button>
                            <button class="btn btn-default float-right" (click)="submit(formVariable)">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>