<div class="header pb-8 pt-5 pt-md-8" style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div> 
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Nueva Estaci&oacute;n</h3>
                </div>
                <div class="card-body">
                    <form  #formEstacion="ngForm" (ngSubmit)="onSubmit(formEstacion)" >
                        <div class="form-group">
                            <label for="nombre">Nombre</label><br>
                            <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="estacion.nombreEstacion">
                        </div>
                        <div class="form-group">
                            <label for="codigo">C&oacute;digo</label><br>
                            <input type="text" class="form-control" name="codigo" id="codigo" [(ngModel)]="estacion.codigo">
                        </div>
                        <div class="form-group">
                            <label for="altitud">Latitud</label><br>
                            <input type="text" class="form-control" name="altitud" id="altitud" [(ngModel)]="estacion.latitud">
                        </div>
                        <div class="form-group">
                            <label for="longitud">Longitud</label><br>
                            <input type="email" class="form-control" name="longitud" id="longitud " [(ngModel)]="estacion.longitud">
                        </div>
                        <div class="form-group">
                            <label for="altitud">Altitud</label><br>
                            <input type="text" class="form-control" name="altitud" id="altitud" [(ngModel)]="estacion.altitud">
                        </div>
                        <div class="form-group">
                            <label for="foto">Foto</label><br>
                            <input type="file" class="form-control" name="foto" id="foto">
                        </div>
                        <div class="form-group">
                            <label for="tipoSuelo">Tipo de Suelo</label><br>
                            <input type="text" class="form-control" name="tipoSuelo" id="tipoSuelo" [(ngModel)]="estacion.suelo">
                        </div>
                        <div class="form-group">
                            <label for="codomm">C&oacute;digo OMM</label><br>
                            <input type="text" class="form-control" name="codomm" id="codomm"[(ngModel)]="estacion.omm" >
                        </div>
                        <div>
                            <button class="btn btn-secondary float-left">Cancelar</button>
                            <button class="btn btn-default float-right" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
