@media (min-width: 0px) {
    .card .table td, .card .table th {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .table{
        margin-left: -1.5rem;
    }

    .button{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (min-width: 770px) {
    .card .table td, .card .table th {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .table{
        margin-left: 0rem;
    }
}

@media (min-width: 1024px) {
    .card .table td, .card .table th {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .table{
        margin-left: 0;
    }
}